body {
    margin: 0;
    padding: 0;
    background: url(Frame.png);
    background-size:cover;
    background-position: center;
    font-family:sans-serif;
}
.loginbox {
    position: absolute;
    width: 957px;
    height: 854px;
    background: #272A45;
    border-radius: 40px;
}